body{
  background-color: rgb(46, 45, 45);
}

.exercise-field{
    padding: 2%;
    display: flex;
    background: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  color: white;
  
}

.exercize-nav{
    padding: 1%;
    margin-left: 2%;
    color: white;
}

.my-check{  
    transform:scale(1.8);
    opacity:0.9;
    cursor:pointer;      
}


.flip-card {
  text-align: center;
  color: black;
  width: 300px;
  height: 300px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  background-color: #fff;
}

.flipper {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  perspective: 1000px;
}

.flipper.flip .flip-card {
  transform: rotateY(180deg);
}

.front,
    .back {
      width: 100%;
      padding: 5px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
  /* front pane, placed above back */
  .front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  height: 100%;
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  height: 100%;
}

#front, #back {
  margin-top: 40%;
  margin-bottom: 40%;
  font-size: 250%;
}

.my-nav{
  /* background-color: rgba(167, 167, 167, 0.836); */
  text-align: center;
  color: white;
  padding: 1.4%;
  align-items: center;
}

.china-background{
  background-image: url(assets/background.jpg);
  background-position: top;
  border-radius: 3%;
  
  
}
.my-grad{
  background: linear-gradient(180deg, rgba(44, 43, 43, 0.836),  rgba(238, 16, 16, 0.644));
  border-radius: 3%;

}
/* .china-background{
  background-image: url(assets/background.jpg);
  /* background-position: top; */
  /* border-radius: 3%;
  
} */ 

#f{
  background-color: rgb(255, 255, 255);
  border-color: yellow;
}
#b{
  background-color: rgb(255, 255, 255);
  border-color: yellow;
}


.text-block{
  margin-left: auto;
  margin-right: auto;
}

.my-settings{
  display: inline-block;
}

.bot-marg{
  margin-bottom: 1%;
  
}